<label>server name</label>
<input type="text"
class="form-control"
(input) = "onUpdateServerName($event)"
name="" value="">
<p>MMMM server is created, the name is {{ serverName }}</p>
<p *ngIf="serverCreated">YYYY server is created, the name is {{ serverName }}</p>

<input
type="text"
class="form-control"
[(ngModel)]="serverName"
>

<p>prose</p>
<button type="button" name="button" class="btn btn-primary" [disabled]="!allowNewServer" (click) = "onServerCreated()">Add server</button>
<button type="button" name="button0" class="btn btn-primary" [disabled]="serverName === ''" (click) = "onResetServerName()">Reset server neme</button>
<p>{{ allowNewServer }}</p>
<p [innerText]="allowNewServer"></p>
<p>{{ serverCreateStatus }}</p>
<p>TEST</p>
<p>{{ serverName }}</p>
<p *ngIf="serverCreated; else noServer" >server is creted, the name is {{ serverName }}</p>
<ng-template #noServer>
<p *ngIf="!serverCreated">no server created XXX </p>
</ng-template>

<app-server></app-server>
<app-server></app-server>

<app-server *ngFor="let server of servers"></app-server>



<p>prose</p>
